/*--------------------------------------------------------------
# GENERAL
--------------------------------------------------------------*/
body {
    text-rendering: optimizeLegibility !important;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    // background: lighten($color__dark_shade, 2.5%);
    letter-spacing: .25px;
}
a {
    transition: all 0.4s ease;
    color: $color__main_brand;
    &:hover, &:active, &:focus {
        text-decoration: none;
        color: darken($color__main_brand, 20%);
    }
}
p {
    margin-bottom: 1.6rem;
    a {
        color: $color__main_brand;
        &:hover, &:active {
            text-decoration: none;
            color: $color__black-header;
        }
    }
}
li {
    margin-bottom: 1rem;
}
.card-block {
    padding: 1.5rem;
}



/*--------------------------------------------------------------
# INDEX
--------------------------------------------------------------*/
.st-content-area {
    word-wrap: break-word;
    margin-top: 54px;
}
.entry-title {
    a {
        color: $color__dark_shade;
        font-style: italic;
        &:hover {
            color: $color__dark_accent;
        }
    }
}
.card-columns {
    width: 100%;
    padding: 0 15px;
    @include media-breakpoint-only(sm) {
        column-count: 1;
    }
    @include media-breakpoint-only(md) {
        column-count: 2;
    }
    @include media-breakpoint-only(lg) {
        column-count: 2;
    }
    @include media-breakpoint-only(xl) {
        column-count: 2;
    }
}
.bani-sidebar {
    margin-top: 2rem;
}
.bani-card {
    border: 0px;
    box-shadow: 0 20px 20px rgba($color__dark_shade,.08);
}
.hentry {
    margin-bottom: 2.5rem;
    .entry-summary {
        color: lighten($color__body-text, 20%);
        font-size: 1rem;
    }
    .entry-meta {
        font-size: 1rem;
        color: lighten($color__body-text, 20%);
    }
}
.post-hover-effect {
    .hentry {
        transition: all 0.4s ease;
        &:hover {
            box-shadow: 0 30px 30px rgba($color__dark_shade,.12);
            transform: translate(0,-10px);
            transition-delay: 0s !important;
        }
    }
}
.card-footer {
    font-size: .875rem;
    background: transparent;
    border-color: darken($color__light_shade, 5%);
}
.cat-links {
    text-transform: uppercase;
    a {
        margin-right: 1rem;
    }
}
.comments-link {
    margin-left: 1rem;
}
.bani-badge-secondary {
    background: darken($color__light_shade, 5%);
    padding: .25rem .5rem;
    margin-right: .5rem;
    font-size: .75rem;
    font-weight: normal;
}
@media (min-width: 576px) {
    .card-columns .card {
        margin-bottom: 0;
    }
}





/*--------------------------------------------------------------
# HEADER
--------------------------------------------------------------*/
.st-header-area {
    background: #ffffff;
    box-shadow: 0 8px 14px rgba($color__dark_shade,.08);
}
.main-navigation li {
    margin-bottom: 0;
    float: none;
    display: inline-block;
    padding: 1rem;
    text-transform: uppercase;
    font-size: .875rem;
    letter-spacing: .5px;
}
.main-navigation .sub-menu {
    background: #ffffff;
    text-align: left;
    box-shadow: 0 8px 14px rgba($color__dark_shade,.08);
    border-radius: 0 0 .25rem .25rem;
    li {
        padding-top: .5rem;
        padding-bottom: .5rem;
    }
    .sub-menu {
        border-radius: .25rem 0 0 .25rem;
    }
}
.main-navigation ul ul li:hover > ul, .main-navigation ul ul li.focus > ul {
    right: 100%;
    left: auto;
}
.site-title {
    font-style: italic;
}
.menu-item-has-children a {
    .fa {
        line-height: 21px;
        font-size: .60rem;
    }
}
.sub-menu .menu-item-has-children a {
    .fa-chevron-down:before {
        content: '\f054';
    }
}
@media (max-width: 599px) {
    .main-navigation li {
        float: none;
    }
    .main-navigation ul ul {
        position: relative;
        float: none;
        display: none !important;
        box-shadow: none !important;
    }
    .bani-main-menu .menu-item-has-children > .showSubMenu {
        left: 30px;
        top: 0;
        display: block !important;
    }
    .bani-main-navbar.appear-fixed-on-scroll {
        display: none;
    }
    button.menu-toggle.btn {
        margin: auto;
    }
}




/*--------------------------------------------------------------
# COVER
--------------------------------------------------------------*/
.bani-cover-wrapper {
    min-height: 50vh;
    position: relative;
    overflow-y: hidden;
    width: 100vw;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-bottom: 2rem;
    &.short-cover {
        min-height: 20vh;
    }
    .bani-cover-bg {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
        width: 100vw;
        background: darken($color__dark_accent, 10%);
        background-size: cover;
        background-position: 50% 50%;
        background-attachment: fixed;
        background-repeat: no-repeat;
        // filter: brightness(.5);
    }
    .bani-cover-content {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 9;
        min-width: 100%;
        /* text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5); */
        color: $color__light_shade;
        text-align: center;
        margin-left: 0 !important;
        margin-right: 0 !important;
        .sub-title {
            color: lighten($color__dark_accent, 25%);
            margin-bottom: 1rem;
            font-family: 'Source Sans Pro', sans-serif;
            text-transform: uppercase;
            font-size: 1.25rem;
            letter-spacing: .5px;
        }
        .title {
            font-size: 2.5rem;
            margin-bottom: 1rem;
        }
    }
}
.typed-cursor{
	opacity: 1;
	-webkit-animation: blink 0.7s infinite;
	-moz-animation: blink 0.7s infinite;
	animation: blink 0.7s infinite;
}
@keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-webkit-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-moz-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}



/*--------------------------------------------------------------
# WIDGETS
--------------------------------------------------------------*/
.subscribe-post-widget {
    .bani-subscribe-card {
        background: $color__dark_accent;
        color: $color__light_shade;
        margin-bottom: 1.5em;
        border: 0px;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        h5 {
            margin-bottom: .75rem;
        }
        .form-control {
            padding: .5rem 1rem;
            font-family: $font-family-base;
            margin: auto;
        }
        .btn-secondary {
            background: $color__light_shade;
            color: $color__dark_accent;
            font-family: $headings-font-family;
            border: 0;
            cursor: pointer;
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
            &:hover {
                background: $color__main_brand;
                color: $color__light_shade;
            }
        }
    }
    .mc4wp-response {
        color: $color__light_shade;
        font-size: .875rem;
    }
}
.widget.card {
    /* box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12); */
    /* border: 0; */
    border-color: darken($color__light_shade, 5%);
    ul {
        margin-left: 0rem;
        padding-left: 0rem;
        list-style: none;
        &.children {
            padding: 10px 0px 0px 20px;
        }
        li {
            margin-bottom: .875rem;
            /* font-family: $headings-font-family; */
            font-size: .875rem;
            .post-date { // For default recent posts widget
                display: block;
                font-size: 0.75rem;
                color: $color__main_brand;
            }
            a {
                color: $color__dark_accent;
                &:hover {
                    color: $color__dark_shade;
                }
            }
        }
    }
    .calendar_wrap {
        table {
            font-size: .875rem;
            margin-bottom: .5rem;
        }
        caption {
            caption-side: top;
            text-align: center;
            font-family: $headings-font-family;
        }
        thead {
            th {
                text-align: center;
            }
        }
        tbody {
            td {
                text-align: center;
                /* color: $color__muted; */
                padding: 5px 0;
                a {
                    color: $color__light_shade;
                    background: $color__main_brand;
                    border-radius: 50%;
                    display: inline-block;
                    width: 25px;
                    height: 25px;
                    line-height: 25px;
                    text-align: center;
                }
            }
        }
        tfoot {
            font-family: $headings-font-family;
            &:before {
                content: '';
                display: block;
                height: 10px;
            }
            td#next {
                text-align: right;
            }
        }
        a {
            transition: all 0.4s ease;
            &:hover {
                text-decoration: none;
            }
        }
    }
    &.widget_search {
        .form-control.s {
            font-size: .875rem;
            padding: 3px 12px;
            border: 0px;
            font-family: $font-family-base;
        }
        .search-button {
            border: 0px;
            padding: 12px 15px;
            cursor: pointer;
            border-radius: .25rem;
            .fa {
                font-size: .875rem;
            }
        }
    }
}
.widget.card>.card-block>div>ul li a:before, .widget.card>.card-block>ul li a:before, .widget.card>.card-block>ul li:before, .widget_calendar caption:before {
    font-family: FontAwesome;
    font-size: 13px;
    margin-right: 8px;
    color: $color__main_brand;
    display: inline-block!important;
    width: 1em;
    text-align: center;
}
.widget_categories>.card-block>ul>li a:before {
    content: "\f115";
}
.widget_archive>.card-block>ul>li a:before {
    content: "\f073";
}
.widget_recent_comments>.card-block>ul>li>span:before {
    content: "\f27b";
    font-family: FontAwesome;
    font-size: 13px;
    margin-right: 8px;
    color: $color__main_brand;
    display: inline-block!important;
    width: 1em;
    text-align: center;
}
.widget_meta>.card-block>ul>li a:before {
    content: "\f0c1";
}
.widget_recent_entries>.card-block>ul>li a:before {
    content: "\f0f6";
}
.widget_pages>.card-block>ul>li a:before {
    content: "\f0f6";
}
.widget_nav_menu>.card-block>div>ul>li a:before {
    content: "\f0f6";
}
.tp_recent_tweets  li {
    font-size: .8rem !important;
    margin-bottom: .25rem !important;
}
.tp_recent_tweets  li a {
    font-weight: normal !important;
}
.bani_about_widget {
    &>.card-block {
        padding-left: 0;
        padding-right: 0
    }
    .widget-title {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
    .bani-about-widget {
        .card-block {
            padding-bottom: 0;
        }
    }
}
.bani_latest_posts_widget {
    .recent-post-img {
        width: 80px;
        height: 80px;
    }
    .rp-date, .rp-author {
        display: block;
        font-size: 0.75rem;
        color: $color__main_brand;
    }
    .media {
        margin-bottom: 1rem;
    }
    h6 a {
        font-size: .875rem;
        color: $color__dark_accent;
    }
}
.bani_link_box_widget {
    .card-header {
        display: none;
    }
    .card-block {
        padding: 0;
    }
}
.bani-link-box {
    .card-img-overlay {
        background: rgba(0,0,0,0.5);
        h5 {
            color: $color__light_shade;
        }
    }
}
.widget.card.widget_mc4wp_form_widget {
    background: rgba(0,0,0,0.5);
    color: $color__light_shade;
    &>.card-block {
        padding: 0;
    }
    .bani-subscribe-card {
        text-align: center;
        border: 0px;
        background: transparent;
        .form-control {
            font-size: .875rem;
            padding: 12px 12px;
            margin-bottom: 1rem;
            text-align: center;
        }
        .btn {
            cursor: pointer;
            font-size: .75rem;
        }
        .title {
            .fa {
                margin-right: .5rem;
                margin-bottom: .5rem;
            }
        }
    }
    .btn-secondary {
        background: $color__light_shade;
        color: $color__dark_accent;
        font-family: 'Montserrat', sans-serif;
        border: 0;
        cursor: pointer;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        &:hover {
            background: $color__main_brand;
            color: $color__light_shade;
        }
    }
    .mc4wp-response {
        padding: 0 15px;
        font-size: .875rem;
        text-align: center;
    }
}
.fb_iframe_widget {
    text-align: center;
}
.widget.card.widget_fbw_id {
    .card-block {
        padding: 0;
    }
}



/*--------------------------------------------------------------
# FOOTER
--------------------------------------------------------------*/
.st-footer-area {
    margin-top: 2rem;
    background: $color__dark_shade;
    color: rgba(255, 255, 255, 0.5);
    >.container {
        padding: 2rem 0;
    }
    h6 {
        font-size: .75rem;
        letter-spacing: .75px;
    }
    a {
        color: rgba(255, 255, 255, 0.5);
        &:hover {
            color: rgba(255, 255, 255, 1);
            text-decoration: none;
        }
    }
    .social-links-footer {
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            li {
                a {
                    transition: all 0.4s ease;
                    &:hover {
                        color: rgba(255, 255, 255, 1);
                        text-decoration: none;
                    }
                }
            }
        }
    }
    .scroll-to-top {
        position: fixed;
        right: 15px;
        bottom: -60px;
        background: $color__dark_shade;
        width: 35px;
        height: 35px;
        color: $color__light_shade;
        text-align: center;
        line-height: 35px;
        border-radius: 50%;
        transition: all 0.4s ease;
        cursor: pointer;
    }
}
#footer-instagram {
    .instagram-widget {
        .instagram-title {
            display: none;
        }
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            li {
                display: inline-block;
                width: 10%;
                img {
                    max-width: 100%;
                }
            }
        }
        p {
            display: none;
        }
    }
}
