.customize-control-checkbox label {
    font-weight: bold;
}
.customize-control-checkbox label .description {
    font-weight: normal !important;
    word-wrap: break-word;
}
#customize-controls .description {
    word-wrap: break-word;
}
